.TicTacToeBoard {
    body {
        font: 14px "Century Gothic", Futura, sans-serif;
        margin: 20px;
    }
      
    ol, ul {
        padding-left: 30px;
    }

    .status {
        margin-bottom: 10px;
    }

    .row:after {
        clear: both;
        content: "";
        display: table;
    }

    .winner {
        @extend .status;
        color: green;
        font-weight: bold;
    }

    .tie {
        @extend .status;
        color: orange;
        font-weight: bold;
    }
}
